body {
  /*background: #f6f6ed;*/
  /*background: #000000;*/
  background: url('../images/homebg.png') no-repeat center center fixed;
  background-size: cover;
  font-family: arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
}
h1 {
  color: rgb(101, 101, 101);
  font-family: 'Poiret One', cursive;
  font-weight: lighter;
}
body header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  /*background-color: black;*/
}
header nav {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  margin: 3% 3% 2% 3%;
}
header nav a {
  flex: 0 10%;
  /*don't grow and set width to 18% to leave space*/
  margin-right: 5px;
  font-family: 'Poiret One', cursive;
  font-weight: normal;
}
a {
  color: white;
}
a:hover {
  color: rgb(219, 197, 0);
}
#wrapper {
  text-align: left;
  width: 960px;
  margin: 0 auto;
}
#letter-container {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  position: absolute;
}
.bodytext {
  display: flex;
  justify-content: center;
}
.bodytext h1 {
  display: flex;
}
.letter-box {
  height: 120px;
  width: 30px;
  position: relative;
  background: #ffffff;
  float: left;
  margin: 0px 3px 6px 3px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.letter-box p {
  font-size: 18px;
  font-weight: bold;
}
.space-alert {
  background: #191919;
  padding: 20px;
  width: 400px;
  position: relative;
  top: 390px;
  margin: 0 auto;
  display: none;
  text-align: center;
  color: #FFF;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .letter-h, .letter-i, .letter-j, .letter-k, .letter-l, .letter-m, .letter-n, .letter-o, .letter-p, .letter-q, .letter-r, .letter-s, .letter-t, .letter-u, .letter-v, .letter-w, .letter-x, .letter-y, .letter-z  {
    display: none;
  }
  .letter-container {
    margin: 0 auto;
  }
}
